<div class="container min-vh-100 position-relative overflow-hidden">


    @if(stepCounter>1){

        <div class="position-absolute start-0 headBtns">
            <button id="backBtn" type="button" (click)="goBack()" class="d-block btn btn-outline-secondary mb-3 mx-auto">
                <i class="fa-solid fa-angle-left"></i>
            </button>
        </div>
    
    }

    <div class="position-absolute end-0 headBtns">
        <button id="cancelBtn" type="button" (click)="cancelProcess()" class="d-block btn btn-outline-danger mb-3 mx-auto">Cancel Process</button>
    </div>

    <div class="steps-wrapper d-flex justify-content-between mt-5 pt-5">

    <div id="step1" #step1 [ngClass]="{
        'step-inProgress':stepCounter == 1,
        'step-completed':stepCounter > 1
    }" 
    class="step-item">
        <div class="step-counter">
            <h3 class="fw-bold">1</h3>
        </div>
    </div>

    <div id="step2" #step2 [ngClass]="{
        'step-inProgress':stepCounter == 2,
        'step-completed':stepCounter > 2
    }"  class="step-item">
        <div class="step-counter">
            <h3 class="fw-bold">2</h3>
        </div>
    </div>

    <div id="step3" #step3 [ngClass]="{
        'step-completed':stepCounter == 3
    }"  class="step-item">
        <div class="step-counter">
            <h3 class="fw-bold">3</h3>
        </div>
    </div>

    </div>

   
    <!-- 3 Forms  -->


    @if(stepCounter == 1){ <!-- 1) Enter Email Form -->
        <div class="w-75 mx-auto mt-5">
            <form class="row g-3 mt-2"  [formGroup]="forgotForm" >
            
                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input
                    
                    [ngClass] = "{
                      'is-valid':!forgotForm.get('email')?.errors && (forgotForm.get('email')?.touched || forgotForm.get('email')?.dirty),
                      'is-invalid':forgotForm.get('email')?.errors && (forgotForm.get('email')?.touched || forgotForm.get('email')?.dirty)
                    }"
                    type="email" formControlName="email" class="form-control" id="email">
                    <app-alert-error [formObj]="forgotForm" inputName="email"></app-alert-error>
                </div>
                <div class="col-12">

                  <button type="button" (click)="submitData()" class="d-block btn bg-main text-white mb-3 mx-auto" [disabled]="forgotForm.invalid || isBtnLoad">
                    
                    @if (isBtnLoad) {
                        <app-btn-loader></app-btn-loader>
                    }@else {
                        <span>Send OTP</span>
                    }

                  </button>
                
                </div>
            </form>
        </div>
        

    }@else if (stepCounter == 2) { <!-- 2) Enter OTP -->
        <div class="w-75 mx-auto mt-5">
            <form class="row g-3 mt-2" id="otpForm"  [formGroup]="resetCodeForm">

              <div class="col-2">
                    <input formControlName="cel1" maxlength="1" class="form-control" type="text">
                </div>
                <div class="col-2">
                    <input formControlName="cel2" maxlength="1" class="form-control" type="text">
                </div>
                <div class="col-2">
                    <input formControlName="cel3" maxlength="1" class="form-control" type="text">
                </div>
                <div class="col-2">
                    <input formControlName="cel4" maxlength="1" class="form-control" type="text">
                </div>
                <div class="col-2">
                    <input formControlName="cel5" maxlength="1" class="form-control" type="text">
                </div>
                <div class="col-2">
                    <input formControlName="cel6" maxlength="1" class="form-control" type="text">
                </div>
             

                <div class="col-12 mt-5">
                    <button type="button" (click)="submitData()" class="d-block btn bg-main text-white mb-3 mx-auto" [disabled]="resetCodeForm.invalid || isBtnLoad">
                        @if (isBtnLoad) {
                            <app-btn-loader></app-btn-loader>
                        }@else {
                            <span>Verify Code</span>
                        }
                      </button>

                </div>
                <div class="text-center">
                    <span>Not received the code ?
                        
                        @if (!isReSendCodeClicked){
                            <a  id="resendCode" role="button" (click)="reSendOTP()" class="cursor-pointer fw-bold">Resend Code</a>      

                        }@else {
                            <span>Wait {{displayTime}} to re-send again</span>
                        }
                </span>
                </div>
                
            </form>
        </div>


    }@else if(stepCounter == 3){ <!-- 3) Enter New Password -->

        <div class="w-75 mx-auto mt-5">
            <form class="row g-3 mt-2"  [formGroup]="newPwdForm" >
            
                <div class="col-12">
                    <input type="email" hidden formControlName="email" class="form-control" id="email">
                </div>

                <div class="col-12">
                    <label for="newPassword" class="form-label">Password</label>
                    <input
                    [ngClass] = "{
                      'is-valid':!newPwdForm.get('newPassword')?.errors && (newPwdForm.get('newPassword')?.touched || newPwdForm.get('newPassword')?.dirty),
                      'is-invalid':newPwdForm.get('newPassword')?.errors && (newPwdForm.get('newPassword')?.touched || newPwdForm.get('newPassword')?.dirty)
                    }"
                    
                    type="password" formControlName="newPassword" class="form-control" id="newPassword">
                    <app-alert-error [formObj]="newPwdForm" inputName="newPassword"></app-alert-error>
                </div>

                <div class="col-12">
                  <button type="button" (click)="submitData()" class="d-block btn bg-main text-white mb-3 mx-auto" [disabled]="newPwdForm.invalid || isBtnLoad">
                    @if (isBtnLoad) {
                        <app-btn-loader></app-btn-loader>
                    }@else {
                        <span>Update Password</span>
                    }
                  </button>
                </div>
            </form>
        </div>
}

</div>
