.step-item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  
}

// .reset-pwd-steps-group div.active-step{
//     box-shadow: -0.5px 0 0 9px #b9f198;
//     color:var(--light-color);
//     background-color: #3fb13f;
// }

.step-item::before {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 10%;
    top: 20px;
    left: -50%;
    z-index: 2;
}

.step-item::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #ccc;
    width: 100%;
    top: 30px;
    left: 50%;
    z-index: 2;
}


.step-item.step-completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #3fb13f;
  width: 100%;
  top: 30px;
  left: 50%;
  z-index: 2;
}


.step-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    // cursor: pointer;
    box-shadow: -0.5px 0 0 9px #dddddd;
    color: var(--main-color);
    background-color: var(--light-color);
}

  .step-item.step-inProgress .step-counter{
    box-shadow: -0.5px 0 0 9px #e9f79b;
    color: rgb(114, 116, 11);
    background-color: rgb(228, 212, 67);
  }

  .step-item.step-completed .step-counter{
    box-shadow: -0.5px 0 0 9px #b9f198;
    color:var(--light-color);
    background-color: #3fb13f;
  }

  .step-item:first-child::before {
    content: none;
  }
  .step-item:last-child::after {
    content: none;
  }


#otpForm input{
  width: 50%;
  margin: 0 auto;
}


.headBtns{
  top: 10px;
}

#resendCode:hover{
  color: var(--main-color);
}