<div class="container my-2 min-vh-100">
    <div class="row gy-2">
    
        @for (product of allProducts; track product.id) {
    
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="wrapper product overflow-hidden p-2">
                    <img [src]="product.imageCover" class="w-100"  alt="product image">
                    <p>{{product.category.name}}</p>
                    <h4>{{product.title.split(' ').slice(0,2).join(" ")}} ...</h4>
                    <div class="d-flex justify-content-between">
                        <p>{{product.price}} EGP</p>
                        <p><i class="fa-solid fa-star rating-color"></i> {{product.ratingsAverage}}</p>
                    </div>
    
                    <button class="btn bg-main d-block mx-auto text-center text-white">Add To Cart</button>
    
                </div>
             
            </div>
        }
    
    </div>
</div>

