<div [ngClass]="{
    'show': showErrorPopUp == true,
    'hide': showErrorPopUp == false
  
  }" class="toast align-items-center bg-danger-subtle border border-danger position-fixed p-3" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body fw-bold">
        @if(errorObj?.errors){
            {{errorObj?.errors.msg}}
        }@else{
            {{errorObj?.message}}
        }
        
      </div>
      <button type="button" (click)="hideToast()" class="btn-close me-2 m-auto"  aria-label="Close"></button>
    </div>
  </div>