<footer>

    <div class="container">


        <div class="py-3">
            <div class="footer-one py-2">
                <h4>Get The Fresh Cart App Link</h4>
                <p>We will send you a link, open it on your phone to download the app</p>    
            
                <form class="row g-3">
                    <div class="col-8">
                      <label for="inputEmail" class="visually-hidden">Email...</label>
                      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                    <div class="col-auto">
                      <button type="submit" class="btn bg-main mb-3 text-white">Share App Link</button>
                    </div>
                  </form>
            </div>
            
            <div class="footer-two py-2 d-flex justify-content-between flex-wrap">
            
                <ul class="payments list-unstyled d-flex align-items-center flex-wrap">
    
                    <li>Payments Partners</li>
                    <li>
                        <img src="../../../assets/images/paypal.png" alt="" srcset="">
                    </li>
                    <li>
                        <img src="../../../assets/images/amazon-pay.png" alt="" srcset="">
                    </li>
                    <li>
                        <img src="../../../assets/images/mastercard.png" alt="" srcset="">
                    </li>
                </ul>
    
                <ul class="app-platforms-download list-unstyled d-flex align-items-center flex-wrap">
                    <li>Get Delivers with FreshCart App</li>
                    <li>
                        <img src="../../../assets/images/ios-app.png" alt="">
                    </li>
                    <li>
                        <img src="../../../assets/images/android-app.png" alt="">
                    </li>
                </ul>
                
            </div>

        </div>

        


    </div>

</footer>