<div class="container my-2 min-vh-100">
    

    @if(!isLoading){
        <div class="row">
            <div class="col-md-4">
                <img [src]="productObj.imageCover" class="w-100" alt="Product Image">
            </div>
            <div class="col-md-8 d-flex flex-column justify-content-center">
                <button (click)="wishlistToggler($event,productObj.id)" class="btn d-block text-end my-2 ms-auto">
                    @if(wishlistItems.includes(productObj.id)){
                        <i class="fa-solid fa-heart"></i>
                    }@else {
                        <i class="fa-regular fa-heart"></i>
                    }
                    
                </button>
                <h3>{{productObj.title}}</h3>
                <p>{{productObj.description}}</p>
                <p class="fw-bold">{{productObj.category.name}}</p>
                <ul class="list-unstyled d-flex justify-content-between">
                  <li class="fw-bold">{{productObj.price}} EGP</li>
                  <li><p><i class="fa-solid fa-star rating-color"></i> {{productObj.ratingsAverage}}</p></li>
                </ul>
                <button (click)="addProductToCart(productObj.id)" class="btn bg-main d-block text-center text-white">Add To Cart</button>
            </div>
        </div>
    }@else {
        <app-loader></app-loader>
    }

    

</div>
