<div class="container min-vh-100">
    <h3 class="mt-4">Login Now:</h3>

    <app-toast-error [errorObj]="errObj" [showErrorPopUp]="showErrorPopUp"></app-toast-error>

    <form class="row g-3 mt-2"  [formGroup]="loginForm" >
       
        <div class="col-12">
            <label for="email" class="form-label">Email</label>
            <input type="email" formControlName="email" class="form-control" id="email">

            <!-- <app-alert-error [formObj]="registerForm" inputName="email"></app-alert-error> -->


        </div>
        <div class="col-12">
            <label for="password" class="form-label">Password</label>
            <input type="password" formControlName="password" class="form-control"  id="password">
            <!-- <app-alert-error [formObj]="registerForm" inputName="password"></app-alert-error> -->
        </div>
        <div class="col-auto">

          <button type="button" (click)="loginIntoApp()" class="btn bg-main text-white mb-3" [disabled]="loginForm.invalid" >Login</button>
        </div>
      </form>

</div>

